-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>



= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "well span4",:method => :put }) do |f|
  %h2
    Edit #{resource_name.to_s.humanize}
  = devise_error_messages!
  %dl.form
  
    %dt
      = f.label :firstname
    %dd
      = f.email_field :firstname
    %dt
      = f.label :lastname
    %dd
      = f.email_field :lastname
    %dt
      = f.label :username
    %dd
      = f.text_field :username
    %dt
      = f.label :email
    %dd
      = f.email_field :email
    %dt
      = f.label :password
    %dd
      %i (leave blank if you don't want to change it)
      = f.password_field :password, :autocomplete => "off"
    %dt
      = f.label :password_confirmation
    %dd
      = f.password_field :password_confirmation
    %dt
      = f.label :current_password
    %dd
      %i (we need your current password to confirm your changes)
      = f.password_field :current_password
      .clear
    %dt= f.submit "Update"
    .clear
    %h3 Cancel my account
    %p
      Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
    = link_to "Back", :back
