-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>



= form_for(resource, :as => resource_name, :html => {:class => "well span4"},:url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %h2
    Sign up
  %dl.form
    %dt
      = f.label :firstname
    %dd
      = f.text_field :firstname
    %dt
      = f.label :lastname
    %dd
      = f.text_field :lastname
    %dt
      = f.label :username
    %dd
      = f.text_field :username
    %dt
      = f.label :email
    %dd
      = f.email_field :email
    %dt
      = f.label :password
    %dd
      = f.password_field :password
    %dt
      = f.label :password_confirmation
    %dd
      = f.password_field :password_confirmation
    %dt
      = f.submit "Sign up", :class => "btn btn-success"
    .clear
    %p
      = render "links"
