-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%html
  %head
  %body
    %table{:style => "width: 600px;border: none;'"}
      %tr
        %td
          %h3
            ="Hi #{@user.firstname},"
          %p
            Your account for the screening analysis application on lorax in the Mhlanga laboratory has been approved!
          %p
            Feel free to log into the application  anytime.

