-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%html
  %head
  %body
    %table{:style => "width: 600px;border: none;'"}
      %tr
        %td
          %h3
            ="Hi #{@user.firstname},"
          %p
            Thank you for signing-up for an account for the screening analysis application in the Mhlanga laboratory.
          %p
            %strong
              Please note:
            You account has to be approved by an administrator. Your Sign-up request has been forwarded.

