-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%html
  %head
  %body
    %table{:style => "width: 600px;border: none;'"}
      %tr
        %td
          %h3
            Dear administrator
          %p
            the following user has signed up for an account for the screening application in the Mhlanga laboratory:
          %p
            %strong
              First Name:
            =@user.firstname
            %br
            %strong
              Last Name:
            =@user.lastname
            %br
            %strong
              Email address:
            =mail_to @user.email, @user.email
            %br
          %p
            Please log into the application on lorax and approve the user if you see fit.
            Otherwise please email the user about your decision.

