= form_for @organism do |f|
  - if @organism.errors.any?
    #error_explanation
      %h2= "#{pluralize(@organism.errors.count, "error")} prohibited this organism from being saved:"
      %ul
        - @organism.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Create Organism', class: "btn btn-mini btn-success"
