%h1 Listing Organisms

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Description
      -if current_user && current_user.admin?
        %th Actions
      
  %tbody
    - @organisms.each do |organism|
      %tr{:id => "organism#{organism.id}"}
        %td= link_to organism.name, organism
        %td= organism.description
        -if current_user && current_user.admin?
          %td
            = link_to 'Edit', edit_organism_path(organism), :class => 'btn btn-mini'
            = link_to 'Destroy', organism, method: :delete, data: { confirm: 'Are you sure?' }, 
              :class => 'btn btn-mini btn-danger'

%br
-if current_user && current_user.admin?
  = link_to 'New Organism', new_organism_path, class: "btn btn-mini btn-success"
