%p#notice= notice

%p
  %b Name:
  = @organism.name
%p
  %b Description:
  = @organism.description

= link_to 'Edit', edit_organism_path(@organism), :class => 'btn btn-mini'
\|
= link_to 'Back', organisms_path, :class => 'btn btn-mini'
