-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


= form_for @workingplate, :html => { :class => 'well form-horizontal' } do |f|
  %fieldset
    %legend
      = controller.action_name.capitalize
      Workingplates
    .control-group
      = f.label :label, :class => 'control-label'
      .controls
        = f.text_field :label, :class => 'text_field', :value => "#{@masterplate.label}-A and -B", :disabled => true
    .control-group
    .control-group
      = f.label :description, :class => 'control-label'
      .controls
        = f.text_area :description, :class => 'text_area', :value => @masterplate.description
        = f.hidden_field :mp_id, :value => @masterplate.id
    .form-actions
      = f.submit nil, :class => 'btn btn-mini btn-primary'
      = link_to 'Cancel', workingplates_path, :class => 'btn btn-mini', :me => true
