-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%h1 Workingplates

%div.filter
  %p
    = link_to "All Workingplates", :action => "index"
    |
    = link_to "My Workingplates", :action => "index", :me => "true"
    |
    = link_to "Currently Processing", :action => "index", :status => "processing"
    |
    = link_to "Imported", :action => "index", :status => "imported"
    |
    = link_to "Unprocessed", :action => "index", :status => "unprocessed"


-if @workingplates.present?

  %table.table.table-striped
    %thead
      %tr
        %th Label
        -#%th Uuid
        %th Created at
        %th Owner
        %th Actions
    %tbody
      - @workingplates.each do |workingplate|
        %tr
          %td= link_to workingplate.label, workingplate_path(workingplate)
          -#%td= workingplate.uuid
          %td= workingplate.created_at.strftime("%Y-%m-%d")
          %td= workingplate.user_name
          %td
            -if current_user && workingplate.user_id == current_user.id || current_user.admin?
              = link_to 'Edit', edit_workingplate_path(workingplate), :class => 'btn btn-mini'
              = link_to 'Destroy', workingplate_path(workingplate), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'
              - if workingplate.imported
                %button.btn.btn-mini.btn-diabled
                  imported
              - elsif workingplate.processing
                = link_to 'Processing', '/resque', :class => 'btn btn-mini btn-warning'
              -else
                = link_to 'Process Images', omeroimport_workingplate_path(workingplate), :class => 'btn btn-success btn-mini'

            -else
              <span class="red">not your plate</span>
  = will_paginate(@workingplates, :class => 'apple_pagination')

-else
  %div.no_record
    %p
      There are currently no workingplates present that match your criteria. Use the "Workingplate" link next to one of your
      =link_to 'masterplates', masterplates_path
      to generate some.
