-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


= form_for @workingplate, :method => :post, :url => {:action => "import"}, :html => { :class => 'well form-horizontal' } do |f|
  %fieldset
    %legend
      Processing Workingplates
    .control-group
      = f.label :label, :class => 'control-label'
      .controls.down
        = @workingplate.label
    .control-group
      = f.label :description, :class => 'control-label'
      .controls.down
        = @workingplate.description
    .control-group
      = f.label :uuid, :class => 'control-label'
      .controls.down
        = link_to @workingplate.uuid, generate_uuid_file_workingplate_url(@workingplate.id)
        
    .control-group.remote_file_path
      = f.label :remote_file_path, "Path to UUID File", :class => 'control-label'
      .controls
        = f.text_field :remote_file_path, :class => 'text_field path_field'
          
    .control-group
      = f.label "Files", :class => 'control-label'
      .controls
        #fileTree.demo
        .clear
        %p.notice
          Only directories and *.uuid files will be listed.
    
    .form-actions
      = f.submit "Rewrite", :class => 'btn btn-success', :id => "submitButton"
      = link_to 'Cancel', workingplates_path, :class => 'btn', :me => true

- content_for :sidebar_title do
  Rewriting of Image Headers
- content_for :sidebar do
  %p
    In order to connect the saved annotation meta-data with the images acquired, choose the correct UUID file
    located in the same directory the images derived from the workingplate are located in: 
    %ol
      %li
        Use the file-browser to navigate to the directory of images.
      %li
        Click on the correct UUID file and the full path will be inserted into the "Path to UUID File" input field.
      %li
        Compare the name of the UUID file with the UUID displayed in the working-plate "UUID" field directly above the full path input field.
      %li
        Click "Rewrite" to rewrite the image header with an OME/XML header structure.

:javascript
  $(document).ready( function() {
    $('#fileTree.demo').fileTree({
      root: '',
      script: '/jqueryfiletree/content',
      expandSpeed: 1000,
      collapseSpeed: 1000,
      blacklist: ["composite", "montage"]
      }, function(file) {
      $('#workingplate_remote_file_path').val("#{APP_CONFIG['remote_file_root_directory']}/"+file);
    });
  });
