-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%dl.show.dropshadow.raised
  %legend
    Workingplate
    = @workingplate.label
  %dt
    Uuid
  %dd
    Click on the link below and save the file in the root directory of the image tree derived from this workingplate.
    %p
    %span.bigger
      = link_to @workingplate.uuid, generate_uuid_file_workingplate_url(@workingplate.id)
    .clear
  %dt
    Masterplate
  %dd
    = link_to @workingplate.masterplate_label, @workingplate.masterplate
  -if @workingplate.description.present? || @workingplate.htd_file_info['Description'].present?
    %dt
      Description
    %dd
      -if @workingplate.htd_file_info['Description'].present?
        =@workingplate.htd_file_info['Description']
        %br
      =@workingplate.description

  %dt
    Image Status
  %dd
    -if @workingplate.imported
      Images have been processed.
    - elsif @workingplate.processing
      Images are currently being processed
    -else
      Images have not yet been processed.
  %dt
    Owner
  %dd
    = @workingplate.user_name
  - if @workingplate.remote_file_path.present? && @workingplate.imported?
    %dt
      Path to Image Files
    %dd
      =raw File.dirname(@workingplate.remote_file_path).gsub("/", "/<wbr>")

  - @wp = @workingplate.masterplate.workingplates.where("id != ?", @workingplate.id)
  - if @wp.present?
    %dt
      Other Workingplates
      %dd
        = @wp.map { |wp| link_to wp.label, workingplate_path(wp) }.join(", ").html_safe


%p
%p
  %div.outer
    %div#background.inner
      .workingplate.drop-shadow.raised
        -counter = 0
        - while counter < 96
          - w = @workingplate.workingwells.order('id ASC')[counter]
          - if w.present?
            %div{:class => "well, workingwell#{'pbs' if w.name == 'PBS'}#{'empty' if w.name == 'empty'}#{'control' if w.is_control?}", data: {animation: "true", placement: "top", trigger: "hover", html: "true", title: "#{w.name}",content: "#{popover(w)}"}}
              - if w.is_control?
                %div.small
                  = link_to w.name, w

              - elsif w.name == "PBS" || w.name == 'empty'
                = w.name
              -else
                = link_to w.name, w
          -else
            %div{:class => "well, workingwellpbs"}
          - counter += 1
    -if @workingplate.workingwells[13].analytical_results.heatmap_data.present?
      - @workingplate.workingwells[13].analytical_results.heatmap_data.each_with_index do |ar, index|
        %div.inner.ar{:id => "div_#{index}"}
          %div.workingplate
            -counter = 0
            - while counter < 96
              - w = @workingplate.workingwells[counter]
              - if w.analytical_results.heatmap_data[index].present?
                %div.well_ar{:style => "background-color: #{return_color_value(w.analytical_results.heatmap_data[index].value)}"}
                  -if w.is_control?
                    %div.small.shadow
                      = link_to w.name, w
                  -else
                    %div.shadow
                      = link_to w.name, w
              -else
                %div.well_ar{:style => "background: none"}
              - counter += 1

  -if @workingplate.workingwells[13].analytical_results.heatmap_data.present?
    %div.navigation
      %h3
        Navigation

      %form
        - @workingplate.workingwells[13].analytical_results.heatmap_data.each_with_index do |ar, index|
          %input{:type => 'checkbox', :name => 'div_select', :id => index}
          = ar.name
          %br

.clear
.form-actions.wp
  = link_to 'Back', workingplates_path, :class => 'btn btn-mini', :me => true
  - if current_user && @workingplate.user_id == current_user.id || current_user.admin?
    = link_to 'Edit', edit_workingplate_path(@workingplate), :class => 'btn btn-mini'
    = link_to 'Delete', workingplate_path(@workingplate), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger btn-mini'
    - if @workingplate.imported
      %button.btn.btn-mini.btn-diabled.import-right
        Processed
    - elsif @workingplate.processing
      = link_to 'Processing', '/resque', :class => 'btn btn-warning import-right', target: "_blank"
    -else
      = link_to 'Process Images', omeroimport_workingplate_path(@workingplate), :class => 'btn btn-mini btn-success import-right'

-if @workingplate.htd_file_info.present?
  - content_for :sidebar_title do
    HTD File Info
  - content_for :sidebar do
    %dl.side
      %dt
        X Wells:
      %dd
        =@workingplate.htd_file_info['XWells']

      %dt
        Y Wells:
      %dd
        =@workingplate.htd_file_info['YWells']

      %dt
        Wavelengths:
      %dd
        =@workingplate.htd_file_info['NWavelengths']
      %dt
        Wave Name 1
      %dd
        =@workingplate.htd_file_info['WaveName1']
      %dt
        Wave Name 2
      %dd
        =@workingplate.htd_file_info['WaveName2']
      - if @workingplate.htd_file_info['WaveName3'].present?
        %dt
          Wave Name 3
        %dd
          =@workingplate.htd_file_info['WaveName3']
      - if @workingplate.htd_file_info['WaveName3'].present?
        %dt
          Wave Name 4
      %dd
        =@workingplate.htd_file_info['WaveName4']

-if @workingplate.workingwells[13].analytical_results.heatmap_data.length > 0
  - content_for :sidebar_title do
    Analytical results
  - content_for :sidebar do
    %p
      Analytical results with possible values of "0" and "1" will be displayed as a heat map. The display of each value set can be
      turned on or off with the the check boxes on the right of the graphical plate representation. <br>
      %strong
        Note:
      The result set with the lowest checkbox checked is on top in the stack of result layers and will block any other result layer.
