-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


.control-group.fields
  = f.label :name,"Result Field", :class => 'control-label'
  .controls
    = f.text_field :name, :class => "text_field"
    %p.label_checkbox_pair
      = f.hidden_field :_destroy
      = link_to_remove_fields "remove", f
