-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


= form_for @screen, :html => { :class => 'well form-horizontal' } do |f|
  -if @screen.errors.any?
    #error_explanation
      %h2= "#{pluralize(@screen.errors.count, "error")} prohibited this screen from being saved:"
      %ul
        - @screen.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend
      = controller.action_name.capitalize
      Screen
    .control-group
      = f.label :name, :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'text_field', :placeholder => "Screen Name"
    .control-group
      = f.label :description, :class => 'control-label'
      .controls
        = f.text_area :description, :class => 'text_area', :placeholder => "Screen Description"
    .control-group
      = f.label :organism_id, "Organism", class: "control-label"
      .controls
        - Organism.order('name asc').each do |o|
          %label.radio
            = f.radio_button :organism_id, o.id
            = o.name

    = f.fields_for :screen_setting do |set|
      = render "screen_setting_fields", :f => set


    -##results_block
    -#  %legend
    -#    Screen Analytical Results Fields
    -#  = f.fields_for :analytic_results do |results, index|
    -#    .control-group.fields
    -#      = results.label :name,"Result Field", :class => 'control-label'
    -#
    -#      .controls
    -#        = results.text_field :name, :class => "text_field"
    -#        %p.label_checkbox_pair
    -#          = results.hidden_field :_destroy
    -#          = link_to_remove_fields "remove", results
    -#
    -#  %div.fields.btn.btn-small
    -#    = link_to_add_fields "add result field", f, :analytic_results
    -#  .clear

    .form-actions
      = f.submit nil, :class => 'btn btn-primary btn-mini'
      = link_to 'Cancel', screens_path, :class => 'btn btn-mini', :me => true
