-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%legend
  Screen Settings
.control-group
  = f.label :substances,"Control Substances", :class => 'control-label'
  .controls
    -if params[:action] == "new"
      = f.text_area :substances, :class => "text_area", :value => "Untransfected_infected,Untransfected_infected,MIMcontrol_1,IHcontrol_1,siCD4,siCD4,MIMcontrol_2,IHcontrol_2,uninfected,uninfected"
    -else
      = f.text_area :substances, :class => "text_area"
