-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


- content_for :sidebar_title do
  Edit A Screen
- content_for :sidebar do
  %ul
    %li
      Provide a name for the screen.
    %li
      Add a description to the screen. You can add more information in the edit dialog later.
    %li
      Specify the Control Substances being used to initialize the control fields on your working-plates.
      %br
      Please enter precisely 10 values separated by commas, e.g:
      %br
      %strong
        value1,value2,value3,value4,value5,
        %br
        value6,value7,value8,value9,value10


= render :partial => 'form'
