-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


- content_for :sidebar_title do
  Create A New Screen
- content_for :sidebar do
  %p
  %ul
    %li use the "New" button to create a new screen
    %li each screen has masterplates
    %li click on the name of a screen to see masterplates associated with the screen
%h1 Screens
= link_to 'New', new_screen_path, :class => 'btn btn-success btn-mini right'
%div.filter
  %p
    = link_to "All Screens", :action => "index"
    |
    = link_to "My Screens", :action => "index", :me => "true"


-if @screens.length > 0
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Description
        %th Created at
        %th Owner
        %th Actions
    %tbody
      - @screens.each do |screen|
        %tr
          %td= link_to screen.name, screen_path(screen)
          %td.max_width
            -if screen.description.present?
              = screen.description.gsub(/^(.{180}[\w.]*)(.*)/) {$2.empty? ? $1 : $1 + '...'}
          %td
            = screen.created_at.strftime("%Y-%m-%d")
          %td
            = screen.user_name
          %td
            -if current_user && screen.user_id == current_user.id || current_user.admin?
              = link_to 'Edit', edit_screen_path(screen), :class => 'btn btn-mini'
              = link_to 'Destroy', screen_path(screen), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'
            -else 
              %p
                <span class="red">not your screen</span>
-else
  %p
    %br
  %div.no_record
    %p
      There are no screens on record, please
      =link_to 'create one', new_screen_path, class: 'btn btn-mini btn-success'

