-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


- content_for :sidebar_title do
  Create A Screen
- content_for :sidebar do
  %ul
    %li
      Please provide a name for your new screen.
    %li
      Optionally you can add a description to your screen for further details. You can always add this information later in the edit dialog.
    %li
      Please specify the Control Substances being used for this screen to initialize the control fields on your working-plates.
      %br
      Please enter precisely 10 values separated by commas, e.g:
      %br
      value_1,value_2,value_3,value_4,value_5,
      %br
      value_6,value_7,value_8,value_9,value_10

  -#%h3
  -#  Screen Analytical Results Fields
  -#
  -#%p
  -#  All images of a screen will be analysed and values are going to be saved for each image or each well of a plate.
  -#  In order to save results with each well a set of "result fields" can be specified when creating a screen.
  -#  These fields will be sed and associated with each well and will holding result values that will be graphically
  -#  presented to the user with in the application.
  -#%ul
  -#  %li
  -#    Provide a name for each analytical field you would like to save a value in image analysis.
  -#  %li
  -#    Use the remove link to remove fields, either while creating or updating a screen
  -#  %li
  -#    Use the add result field link to add more fields for additional result values.


= render :partial => 'form'
