-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%h1 Screen
%dl.show.dropshadow.raised
  %dt
    Name
  %dd
    = @screen.name
  %dt
    Description
  %dd
    = @screen.description
  %dt
    Organism
  %dd
    = @screen.organism_description
    %i 
      = "(#{@screen.organism_name})"
  %dt
    Owner
  %dd
    = @screen.user_name

  %dt
    Screen Settings
  %dd

  %dt
    Control Substances
  %dd.text_left
    = @screen.screen_setting.substances.split(",").join(", ")



%div.clear
%div.spacer20
%h3
  Masterplates

%p
  -if @screen.masterplates.present?
    = @screen.masterplates.order("label ASC").map{|m| link_to m.label, m }.join(", ").html_safe
    
  -else
    %p
      No masterplates in this screen!
    =link_to 'Create some now', new_masterplate_path, class: "btn btn-mini btn-success"
.form-actions
  = link_to 'Back', screens_path, :class => 'btn btn-mini', :me => true
  -if current_user && @screen.user_id == current_user.id || current_user.admin?
    = link_to 'Edit', edit_screen_path(@screen), :class => 'btn btn-mini'
    = link_to 'Delete', screen_path(@screen), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger'
