-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


= form_for @analytic_result do |f|
  -if @analytic_result.errors.any?
    #error_explanation
      %h2= "#{pluralize(@analytic_result.errors.count, "error")} prohibited this analytic_result from being saved:"
      %ul
        - @analytic_result.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :screen_id
    = f.number_field :screen_id
  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
