-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%h1 Editing analytic_result

= render 'form'

= link_to 'Show', @analytic_result
\|
= link_to 'Back', analytic_results_path
