-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%h1 Listing analytic_results

%table
  %tr
    %th Screen
    %th Name
    %th
    %th
    %th

  - @analytic_results.each do |analytic_result|
    %tr
      %td= analytic_result.screen_id
      %td= analytic_result.name
      %td= link_to 'Show', analytic_result
      %td= link_to 'Edit', edit_analytic_result_path(analytic_result)
      %td= link_to 'Destroy', analytic_result, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Analytic result', new_analytic_result_path
