-###
-#Copyright (C) 2012 Juergen Helmers - All Rights Reserved
-#You may not use, distribute and modify this code under any
-#circumstance without the written permission of the author.
-#
-#Juergen Helmers <juergen.helmers@gmail.com>
-###

%p#notice= notice

%p
  %b Screen:
  = @analytic_result.screen_id
%p
  %b Name:
  = @analytic_result.name

= link_to 'Edit', edit_analytic_result_path(@analytic_result)
\|
= link_to 'Back', analytic_results_path
