-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


= form_for @masterplate, :html => { :class => 'well form-horizontal' } do |f|
  %fieldset
    %legend
      = controller.action_name.capitalize
      Masterplate
    .control-group.label_root
      = f.label :label, "Label Root", :class => 'control-label'
      .controls
        = f.text_field :label, :class => 'text_field'
    .control-group
      =f.label :masterplate_sequence_number_offset, "Sequence Number Offset", :class => 'control-label'
      .controls
        = f.text_field :masterplate_sequence_number_offset, :class => 'text_field', :value => 1
    .control-group
      = f.label :screen_id, :class => 'control-label'
      .controls
        = f.collection_select(:screen_id, Screen.where(:user_id => current_user.id), :id, :name, :class => 'select',include_blank: "Select a screen...")
    .control-group
      = f.label :masterplate_annotation_file, "Annotation File", :class => 'control-label'
      .controls
        = f.file_field :masterplate_annotation_file, :class => 'file_field'
    .control-group
      = f.label :description, :class => 'control-label'
      .controls
        = f.text_area :description, :class => 'text_area'
    .form-actions
      = f.submit nil, :class => 'btn btn-mini btn-primary'
      = link_to 'Cancel', masterplates_path, :class => 'btn btn-mini', :me => true
