-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


- content_for :sidebar_title do
  Masterplates
- content_for :sidebar do
  %p
  %ul
    %li Provide a root label that is used to generate a plate label. A two-digit sequence number will be added automatically.
    %li the two-digit number will start at "01" per default. If you wish to start with a higher number, specify the starting number in the "Sequence number Offset" field.
    %li Pick a screen that the new masterplates does belong to.
    %li
      Choose the annotation file from your local file system
      %ul
        %li The file has to be in Excel (xls), or Excelx (xlsx) file format
        %li you can add as many fields as you like to each well.
        %li
          The column order determines the position of the metadata inside the screen. Only data from the first two
          columns is currently included in the display of search results. Therefor, put the decision making metadata into the
          first two columns!
        %li
          %strong
            To keep the data consistent it is recommended to use the same number of columns and the same column headers throughout a screen!
    %li The data has to be in the first worksheet and the header has to be in row 1, the data has to start in row 2
    %li The masterplates will be created according to the number of rows in the source file.
    %li Add a description (optional) to further annotate the masterplates

= render :partial => 'form'

.well
  Download this template file to get started with the input file formatting:
  .btn.btn-mini
    = link_to ' Download', '/masterplate_template.xls'
