-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%dl.show.dropshadow.raised
  %legend
    Masterplate #{@masterplate.label}
  %dt
    Label
  %dd
    = @masterplate.label
  %dt
    Uuid
  %dd
    = @masterplate.uuid
  %dt
    Screen
  %dd
    = link_to @masterplate.screen_name, screen_path(@masterplate.screen_id)
  %dt
    Description
  %dd
    =@masterplate.description
  %dt
    Workingplates
  %dd
    %ul
      - @masterplate.workingplates.order("id ASC").each do |wp|
        %li= link_to wp.label, wp
%p
%p
  .masterplate.drop-shadow.raised
    - counter = 0
    - while counter < 96
      - w = @masterplate.masterwells[counter]
      - if w.present?
        %div{:class => "masterwell#{'full' unless w.metadata_records.blank?}", data: {animation: "true", placement: "top", trigger: "hover", html: "true", title: "#{w.name}",content: "#{master_popover(w)}"}}
          - unless w.catalog_number == ''
            = link_to w.name, w
          - else
            = w.name
      -else
        %div{:class => "masterwell"}
      - counter += 1
.clear
.form-actions
  = link_to 'Back', masterplates_path, :class => 'btn btn-mini', :me => true
  - if current_user && @masterplate.user_id == current_user.id || current_user.admin?
    = link_to 'Delete', masterplate_path(@masterplate), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger btn-mini'
    -unless @masterplate.workingplates.length > 0
      = link_to 'generate Workingplates', new_workingplate_path(:mp_id => @masterplate.id), :class => 'btn btn-success btn-mini import-right'
    -else
      = link_to 'generate more Workingplates', new_workingplate_path(:mp_id => @masterplate.id), :class => 'btn btn-success btn-mini import-right'

