-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


= form_for @user, :html => { :class => 'well form-horizontal' } do |f|
  %fieldset
    %legend
      = controller.action_name.capitalize
      User
    .control-group
      = f.label :firstname, :class => 'control-label'
      .controls
        = f.text_field :firstname, :class => 'text_field'
    .control-group
      = f.label :lastname, :class => 'control-label'
      .controls
        = f.text_field :lastname, :class => 'text_field'
    .control-group
      = f.label :username, :class => 'control-label'
      .controls
        = f.text_field :username, :class => 'text_field'
    .control-group
      = f.label :email, :class => 'control-label'
      .controls
        = f.text_field :email, :class => 'text_field'
    .control-group
      = f.label :password, :class => 'control-label'
      .controls
        = f.password_field :password, :class => 'password_field'
    .control-group
      = f.label :password_confirmation, :class => 'control-label'
      .controls
        = f.password_field :password_confirmation, :class => 'password_field'
    - if current_user && current_user.admin?
      .control-group
        = f.label :approved, :class => 'control-label'
        .controls.lower
          -if @user.approved
            = link_to "disable User", disable_user_path(@user)
          -else
            = link_to "approve User", approve_user_path(@user)
        .control-group
        = f.label :admin, :class => 'control-label'
        .controls.lower
          -unless @user.admin
            = link_to "grant admin privileges", grant_admin_user_path(@user)
          -else
            = link_to "deny admin privileges", deny_admin_user_path(@user)
        -if @user.admin?
          .control-group
          = f.label :receive_system_email, :class => 'control-label'
          .controls.lower
            -unless @user.receives_system_email?
              = link_to "send user system emails", grant_receive_system_mail_user_path(@user)
            -else
              = link_to "do no longer send user system emails", deny_receive_system_mail_user_path(@user)

    .form-actions
      = f.submit nil, :class => 'btn btn-mini btn-primary'
      = link_to 'Cancel', root_url, :class => 'btn btn-mini'
