-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%h1 Users

%p
  = link_to "All Users", :action => "index"
  |
  = link_to "Users awaiting approval", :action => "index", :approved => "false"


-if @users.present?

  %table.table.table-striped
    %thead
      %tr
        %th First Name
        %th Last Name
        %th Username
        %th Email
        %th approved
        %th admin
        %th system email
        %th Actions
    %tbody
      - @users.each do |user|
        %tr
          %td= user.firstname
          %td= user.lastname
          %td= user.username
          %td= mail_to user.email, user.email
          %td.center=raw user.approved? ? '<span class="green">yes</span>' : '<span class="red">no</span>'
          %td.center=raw user.admin? ? '<span class="green">yes</span>' : '<span class="red">no</span>'
          %td.center=raw user.receives_system_email? ? '<span class="green">yes</span>' : '<span class="red">no</span>'
          %td
            -if current_user && current_user.admin?
              = link_to 'Edit', edit_user_path(user), :class => 'btn btn-mini'
              = link_to 'Destroy', user_path(user), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'

-else
  %p
    There are no users present.
