.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        -if current_user
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
          -if current_user.admin?
            %span.icon-bar
            %span.icon-bar

      %a.brand{:href => "/"} Mhlangalab - Screening
      .nav-collapse
        %ul.nav
          - if current_user
            %li= link_to "Screens", screens_path(:me => "true")
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Plates & Wells
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Masterplates", masterplates_path(:me => "true")
                %li= link_to "Workingplates", workingplates_path(:me => "true")
                %li= link_to "Well Comparisons", well_comparisons_path(:me => "true")

            %li= link_to "Search", searches_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Processing Queue
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Monitoring", resque_url, :target => "_blank"
                %li.divider
                %li= link_to "Number of workers: #{Resque.workers.length}", "#", disabled: true
                -if Resque.working.length > 0
                  %li= link_to "Jobs working: #{Resque.working.length}", "#"
                  %li= link_to "Jobs pending: #{Resque.size('ome_rewrite') || 0}", "#"
                %li= link_to raw("Jobs failed: #{failed_jobs}"), "#"
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = current_user.username
                %b.caret
              %ul.dropdown-menu
                %li= link_to "User Profile", edit_user_path(current_user)
                %li= link_to "Logout", destroy_user_session_path, :method => :delete
            - if current_user.admin?
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Admin
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to "Users", users_path
                  %li= link_to "Organisms", organisms_path
          -else
            %li= link_to "Sign In", new_user_session_path