-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>



= form_for(resource, :as => resource_name, :html => {:class => "well span4"},:url => session_path(resource_name)) do |f|
  %h2 Sign in
  %dl.form
    %dt
      = f.label :username
    %dd
      = f.text_field :username
    %dt
      = f.label :password
    %dd
      = f.password_field :password
    - if devise_mapping.rememberable?
      %div
        = f.check_box :remember_me
        = f.label :remember_me
    %div= f.submit "Sign in", :class => "btn btn-success"
    .clear
    %p
    %p
      = render "links"
