-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%dl.show
  %h3.analytical_results
    Analytical Results
  - @workingwell.analytical_results.each do |ar|
    %dt
      = ar.name
    %dd
      - unless ar.value.blank?
        %div.ar_square{:style => "background: #{return_color_value(ar.value)}"}
        %p.ar_value
          = ar.value
      -else
        = "No result yet..."