-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


= form_for @workingwell, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    %legend
      = controller.action_name.capitalize
      Workingwell
    -if @workingwell.montage_url.present?
      .control-group
        = f.label "File Names", :class => 'control-label'
        .controls
          = "#{APP_CONFIG['remote_file_root_directory']}/#{@workingwell.montage_url.split('/')[-1].gsub("_w1.png", "").gsub("_w2.png", "")}_s(1,2,3,4)_w(1,2).TIF"
      .control-group
        = f.label "Montage", :class => 'control-label'
        .controls
          = image_tag url_for(:controller => 'workingwells', :action => 'show_file_by_send', :filepath => "#{APP_CONFIG['remote_file_root_directory']}#{@workingwell.montage_url}"), :class => "montage_image"
          -#= image_tag url_for(:controller => 'workingwells', :action => 'show_file_by_send', :filepath => "#{@workingwell.montage_url}"), :class => "montage_image"
    .control-group
      = f.label "workingplate", :class => 'control-label'
      .controls
        = f.text_field :workingplate_id, :class => 'number_field', :value => @workingwell.workingplate.label, :disabled => true
    .control-group
      = f.label :name, :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'text_field'
    - if @workingwell.is_control?
      .control-group
        = f.label :substance, :class => 'control-label'
        .controls
          = f.text_field :substance, :class => 'text_field'
      .control-group
        = f.label :concentration, :class => 'control-label'
        .controls
          = f.text_field :concentration, :class => 'text_field'
      .control-group
        = f.label :buffer, :class => 'control-label'
        .controls
          = f.text_field :buffer, :class => 'text_field'
    .clear
    - unless @workingwell.analytical_results.length == 0
      = render 'analytical_results'
      .clear

    .form-actions
      -if @workingwell.user_id == current_user.id
        = f.submit nil, :class => 'btn btn-mini btn-primary'
        = link_to 'Cancel', workingplate_path(@workingwell.workingplate.id), :class => 'btn btn-mini', :me => true
      -else
        = link_to 'Back', workingplate_path(@workingwell.workingplate.id), :class => 'btn btn-mini', :me => true
        The displayed record does not belong to you.