//change the button color to red and the url to remove from
$("a.well_<%= @workingwell.id %>").removeClass( "btn-success" ).addClass( "btn-danger");
var addhref = $("a.well_<%= @workingwell.id %>").attr('href');
$("a.well_<%= @workingwell.id %>").attr('data-addhref', addhref);
$("a.well_<%= @workingwell.id %>").attr("href", "<%= remove_from_compare_workingwell_path(@workingwell) %>");
// show the table, the action links and hide the empty card div
$('#user_nav.raised.well_comparison table').show();
$('#compare_actions_links').show();
$('#empty_cart').hide();
//add the new line using the helper
$('#user_nav.raised.well_comparison table tbody').append('<%= j list_compare_wells(@workingwell.id).html_safe %>');