-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>



= form_for @search, :html => { :class => 'well form-horizontal' } do |f|
  %fieldset
    %legend
      Search Workingwells
    %dl.search
      %dt
        = f.label :workingplate_masterplate_screen_user_username_contains, "User"
      %dd
        = f.collection_select :workingplate_masterplate_screen_user_username_contains, @users, :username, :fullname, {:include_blank => 'Select a user...'}
        / 
      %dt.screen
        = f.label :workingplate_masterplate_screen_name_contains, "Screen"
      %dd.screen
        //= f.select :workingplate_masterplate_screen_name_contains, @screens, {:include_blank => 'Select a screen...'}
        = f.grouped_collection_select :workingplate_masterplate_screen_name_contains, User.order(:firstname), :screens, :fullname, :name, :name,  {:include_blank => 'Select a screen...'}
        / , { selected: current_user.screens.last }
      %dt
        = f.label :workingplate_label_contains, "Workingplate label"
      %dd
        = f.text_field :workingplate_label_contains, data: {autocomplete_source: workingplates_path}
        .clear
      %dt
        = f.label :name_contains, "Well name"
      %dd
        = f.text_field :name_contains, data: {autocomplete_source: well_names_path}
        .clear
      %dt
        = f.label :uuid_contains, "Well UUID"
      %dd 
        = f.text_field :uuid_contains, data: {autocomplete_source: well_uuids_path}
        .clear
      %dt
        = f.label :metadata_records_value_contains, "Metadata"
      %dd
        = f.text_field :metadata_records_value_contains, data: {autocomplete_source: metadata_record_values_path}
        .clear

    .clear


    -if @analytical_results.present?
      %h4.search
        Analytical Results
      %dl.search
        - count = 1
        -@analytical_results.each do |result|
          %dt
            = f.label :with_name_and_value_range, result.name
          %dd
            = f.multiparameter_field :with_name_and_value_range,
            {:field_type => :hidden_field, :value => "#{result.name}", :id => "search_with_name_and_value_range(#{count})", :name => "search[with_name_and_value_range(#{count})]"},
            {:field_type => :text_field, :placeholder => "from", :class => "small_field",:id => "search_with_name_and_value_range(#{count + 1})",:value => params[:search]["with_name_and_value_range(#{count +1})"],:name => "search[with_name_and_value_range(#{count + 1})]"},
            {:field_type => :text_field, :placeholder => "to", :class => "small_field",:value => params[:search]["with_name_and_value_range(#{count +2})"],:id => "search_with_name_and_value_range(#{count + 2})", :name => "search[with_name_and_value_range(#{count + 2})]"}
            - count += 3

    .clear
    .form-actions.left
      = f.submit "Search", :class => 'btn btn-mini btn-success'
      = link_to 'Cancel', workingplates_path, :class => 'btn btn-mini btn-danger', :me => true


-if @workingwells.length > 0
  .top_header.right
    %p.strong
      = @workingwells.total_entries
      -if params[:search].length > 0
        wells have been found
      -else
        wells are on record

  %table#search.table.table-striped
    %thead
      %tr
        %th Meta Data
        %th Meta Data
        %th Plate Name
        %th Euclidean Distance
        %th.action


    %tbody
      - @workingwells.each do |well|
        %tr{class: "well_#{well.id}"}
          %td= link_to metadata_record(well,0).html_safe, well, target: "_blank", class: "popover_link", data: {animation: "true", placement: "top", trigger: "hover", html: "true", title: "#{well.name}",content: "#{popover_link(well)}"}
          %td= link_to metadata_record(well,1).html_safe, well, target: "_blank", class: "popover_link", data: {animation: "true", placement: "top", trigger: "hover", html: "true", title: "#{well.name}",content: "#{popover_link(well)}"}
          %td= link_to well.workingplate.label, workingplate_path(well.workingplate_id), target: "_blank"
          %td
            %span{class: 'popover_link', data: {animation: "true", placement: "top", trigger: "hover", html: "true", title: "#{well.name}",content: "#{popover_link(well)}"}}
              = euclidean_distance(well).html_safe
          -if session[:compare].has_value?("#{well.id}")
            %td= link_to 'Compare', remove_from_compare_workingwell_path(well), remote: true, class: "btn btn-mini btn-danger popover_link well_#{well.id}", data: {animation: "true", placement: "right", trigger: "hover", html: "true", title: "#{well.name}",content: "#{popover_link(well)}"}
          -else
            %td= link_to 'Compare', add_to_compare_workingwell_path(well), remote: true, class: "btn btn-mini btn-success popover_link well_#{well.id}", data: {animation: "true", placement: "right", trigger: "hover", html: "true", title: "#{well.name}",content: "#{popover_link(well)}"}
  = will_paginate(@workingwells, :class => 'apple_pagination')
-else
  %p
    %br
  %div.no_record
    %p
      There are no wells on record matching your query.

- content_for :sidebar do
  #user_nav.raised.well_comparison
    %h4 Well Comparison
    #empty_cart
      %p Currently no wells present.
    %table.table.table-striped
      %thead
        %th Well
        %th name
        %th
      %tbody
        -if session[:compare].present?
          - session[:compare].each do |key,id|
            = list_compare_wells(id).html_safe

    #compare_actions_links
      =link_to "Clear all", clear_comparison_cart_workingwells_path, data: {remote: true, confirm: "Are you sure?"} ,class: "btn btn-mini btn-danger"
      =link_to "View Comparison", new_well_comparison_path, class: "btn btn-mini btn-success pull-right"
  %h3 Searching Screening Results
  %ul
    %li use the advanced search form to identify relevant wells
    %li in the top part of the form you can search for well, plate, screen, or user related fields
    %li all text fields have an auto-search function suggesting matching records depending on your input.

  %h5 Analytical Results
  %ul
    %li analytical scripts (e.g. matlab) will be able to attach different results to analyzed wells
    %li the results will be displayed in the well show view as heatmaps
    %li in case of existing analytical results from matlab you can
    %ul
      %li search for a well by specifying a minimum value
      %li search for a well by specifying a maximum value
      %li search for a well by specifying a minimum and maximum value
      %li the search will return wells that meet all your search requirements
      %li click on the well name to visually inspect the information stored for the well of interest
