// hide the table row from the comparison cart table
$("tr.row_<%= @workingwell.id %>").remove();
$("a.well_<%= @workingwell.id %>").removeClass( "btn-danger" ).addClass( "btn-success" ).attr("href", "<%= add_to_compare_workingwell_path(@workingwell) %>")

//determine the number of remaining comparison cart table rows
var count = $('#user_nav.raised.well_comparison table tr').length;
// if the number is smaller or equal to 1 (table header is a row), remove the cart
if ( count <= 1 )
  {
    $('#user_nav.raised.well_comparison table').hide();
    $('#compare_actions_links').hide();
    $('#empty_cart').show();
  }
// handle the call to this action from the well_comparison view
// remove the well_container using a fade out animation
$('.well_<%= @workingwell.id %>').fadeOut(1000, function() {
    $(this).remove();
    // get the number of remaining well_containers
    var well_container_count = $('.well_container').length;
    // if the number of well_container is zero, remove the save link and show the notice
    if ( well_container_count <= 0 )
      {
        $('input.save').remove();
        $('.no_well_notice').append( "<p>You have to have at least one well in a comparison to save it.</p>" );
      }
    });

