-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%dl.show.dropshadow.raised
  %legend
    Workingwell
    = @workingwell.name
    on
    = @workingwell.workingplate.label

  -if @workingwell.montage_url.present?
    %dt
      File names
    %dd
      = "#{APP_CONFIG['remote_file_root_directory']}/#{@workingwell.montage_url.split('/')[-1].gsub("_w1.png", "").gsub("_w2.png", "")}_s(1,2,3,4)_w(1,2).TIF"
    %dt
      Montage
    %dd
      = image_tag url_for(:controller => 'send_images', :action => 'show_file_by_send', :filepath => "#{APP_CONFIG['remote_file_root_directory']}#{@workingwell.montage_url}"), :class => "montage_image"

  -unless @workingwell.is_control?
    -if @workingwell.metadata_records.present?
      - @workingwell.metadata_records.order("name ASC").each do |mr|
        - unless mr.name == ""
          %dt
            = mr.name
          %dd
            = mr.value

  %dt
  %dd
    %p
      %br
  %dt
    Workingplate
  %dd
    = link_to @workingwell.workingplate.label, @workingwell.workingplate

  %dt
    Owner
  %dd
    = @workingwell.user.username

  %dt
    Uuid
  %dd
    = @workingwell.uuid

  -if @workingwell.workingplate.htd_file_info.present?
    %dt
      Wavelengths
    %dd
      = @workingwell.workingplate.htd_file_info['NWavelengths']
    %dt
      Wave Name 1
    %dd
      =@workingwell.workingplate.htd_file_info['WaveName1']
    %dt
      Wave Name 2
    %dd
      =@workingwell.workingplate.htd_file_info['WaveName2']
    - if @workingwell.workingplate.htd_file_info['WaveName3'].present?
      %dt
        Wave Name 3
      %dd
        =@workingwell.workingplate.htd_file_info['WaveName3']
    - if @workingwell.workingplate.htd_file_info['WaveName4'].present?
      %dt
        Wave Name 4
      %dd
        =@workingwell.workingplate.htd_file_info['WaveName4']

  - if @workingwell.is_control?

    %dt
      Substance
    %dd
      = @workingwell.substance

    %dt
      Concentration
    %dd
      = @workingwell.concentration

    %dt
      Buffer
    %dd
      = @workingwell.buffer
    .clear

  - unless @workingwell.analytical_results.length == 0
    %dt
    %dd
    %h4.left
      Analytical Results

    - @workingwell.analytical_results.heatmap_data.each do |ar|
      %dt
        = ar.name
      %dd
        - unless ar.value.blank?
          %div.ar_square{:style => "background: #{return_color_value(ar.value)}"}
          %p.ar_value
            = ar.value
        -else
          = "no results have been recorded yet"
    - @workingwell.analytical_results.not_heatmap_data.each do |ar|
      %dt
        = ar.name.titleize
      %dd
        = ar.value.present? ? "#{ar.value}":"no results have been recorded yet"
.clear
.form-actions
  = link_to 'Back', url_for(:back) , :class => 'btn btn-mini', :me => true
  - if @workingwell.is_control? && @workingwell.user_id == current_user.id
    = link_to 'Edit', edit_workingwell_path(@workingwell), :class => 'btn btn-mini'
