-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


= form_for @masterwell, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    %legend
      = controller.action_name.capitalize
      Masterwell
    .control-group
      = f.label :name, :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'text_field'
    .control-group
      = f.label :catalog_number, :class => 'control-label'
      .controls
        = f.text_field :catalog_number, :class => 'text_field'
    .control-group
      = f.label :mature_sanger_id, :class => 'control-label'
      .controls
        = f.text_field :mature_sanger_id, :class => 'text_field'
    .control-group
      = f.label :precursor_accession, :class => 'control-label'
      .controls
        = f.text_field :precursor_accession, :class => 'text_field'
    .control-group
      = f.label :mature_accession, :class => 'control-label'
      .controls
        = f.text_field :mature_accession, :class => 'text_field'
    .control-group
      = f.label :mature_sequence, :class => 'control-label'
      .controls
        = f.text_field :mature_sequence, :class => 'text_field'
    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to 'Cancel', masterwells_path, :class => 'btn'
