-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%dl.show.dropshadow.raised
  %legend
    Masterwell
    = @masterwell.name
    on
    = @masterwell.masterplate.label

  -if @masterwell.metadata_records.present?
    - @masterwell.metadata_records.order("position ASC").each do |mr|
      - unless mr.name == ""
        %dt
          = mr.name
        %dd
          = mr.value
  %dt
    Masterplate
  %dd
    = link_to @masterwell.masterplate.label, @masterwell.masterplate

  %dt
    Owner
  %dd
    = @masterwell.user.username

  %dt
    Uuid
  %dd
    = @masterwell.uuid

.clear

.form-actions
  = link_to 'Back', url_for(:back) , :class => 'btn'
