-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%ul.jqueryFileTree{:style => "display: none;"}
  - @dir[0].each do |dir|
    %li.jqueryFileTree.directory.collapsed
      %a{:href => "#", :rel => "#{@parent+dir}/"}= dir
  - @dir[1].each do |file|
    %li{:class => "jqueryFileTree file ext_#{File.extname(file)[1..-1]}"}
      %a{:href => "#", :rel => @parent+file}= file
