-#
  Copyright (C) 2014 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


= form_for @well_comparison, :html => { :class => 'well form-horizontal' } do |f|
  - if @well_comparison.errors.any?
    #error_explanation
      %h2= "#{pluralize(@well_comparison.errors.count, "error")} prohibited this well_comparison from being saved:"
      %ul
        - @well_comparison.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %legend
      = controller.action_name.capitalize
      Well Comparison
    .control-group
      = f.label :description, :class => 'control-label'
      .controls
        = f.text_area :description, rows: '1', :class => 'span8', :placeholder => "Well Comparison Description"
        %span.help-inline
          To identify comparisons later, best to add a good description!


    -if session[:compare].present?
      - session[:compare].each_with_index do |(k,id),index|
        -well = Workingwell.find(id)
        -if well.montage_url.present?
          .well_container.comparison{ class: "well_#{well.id}"}

            =image_tag url_for(:controller => 'send_images', :action => 'show_file_by_send', :filepath => "#{APP_CONFIG['remote_file_root_directory']}#{well.montage_url}"), :class => "montage_image sq250"
            %p.ed
              %table
                %tbody
                  = table_euclidean_distance(well).html_safe if well.analytical_results.where(name: "Euclidean Distance").exists?
                  = comparison_metadata_records(well).html_safe if well.metadata_records.present?
                  = comparison_control(well).html_safe if well.is_control?
                  .clear
                  %tr
                    %td= link_to 'x', remove_from_compare_workingwell_path(id), remote: true, class: 'btn btn-mini btn-danger overlay'
                    %td= link_to 'view with controls', compare_with_control_well_comparison_path(well), class: "btn btn-mini", target: "_blank"

  .form-actions
    -if session[:compare].length == 0
      .no_well_notice
        %p
          You have to have at least one well in a comparison to save it.
      = link_to 'Back', searches_path, class: 'btn btn-mini btn-default'
    -else
      .no_well_notice
      = link_to 'Back', searches_path, class: 'btn btn-mini btn-default'
      = f.submit 'Save Comparison', class: 'btn btn-mini btn-success save'
