-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%h1 Well Control - Comparison
%legend
  Workingwell
  = @workingwell.name
  on
  = @workingwell.workingplate.label
  = link_to 'Close', "javascript:closeWindow();", class: 'btn btn-mini btn-danger'
#comparison_grid
  -if @workingwell.montage_url.present?
    .well_container
      =image_tag url_for(:controller => 'send_images', :action => 'show_file_by_send', :filepath => "#{APP_CONFIG['remote_file_root_directory']}#{@workingwell.montage_url}"), :class => "montage_image sq250 workingwell"
      %p.ed
        %table
          %tbody
            = table_euclidean_distance(@workingwell).html_safe if @workingwell.analytical_results.where(name: "Euclidean Distance").exists?
            = comparison_metadata_records(@workingwell).html_safe if @workingwell.metadata_records.present?
            = comparison_control(@workingwell).html_safe if @workingwell.is_control?

  - @control_wells.each do |well|
    .well_container
      =image_tag url_for(:controller => 'send_images', :action => 'show_file_by_send', :filepath => "#{APP_CONFIG['remote_file_root_directory']}#{well.montage_url}"), :class => "montage_image sq250"
      %p.ed
        %table
          %tbody
            = table_euclidean_distance(well).html_safe if well.analytical_results.where(name: "Euclidean Distance").exists?
            = comparison_metadata_records(well).html_safe if well.metadata_records.present?
            = comparison_control(well).html_safe if well.is_control?

-#%script
-#  function closeWindow() {window.open('','_parent','');window.close();}