%h1 Listing Well Comparisons

-if @well_comparisons.length > 0
  %div.filter
    %p
      = link_to "All Well Comparisons", :action => "index"
      |
      = link_to "My Well Comparisions", :action => "index", :me => "true"

  %table.table.table-striped
    %thead
      %tr
        %th Description
        -unless params[:me]
          %th User
        %th Actions


    - @well_comparisons.each do |well_comparison|
      %tbody
        %tr
          %td= link_to well_comparison.description, well_comparison, class: "popover_link", data: {animation: "true", placement: "right", trigger: "hover", html: "true", title: "Wells",content: "#{popover_comparison(well_comparison)}"}
          - unless params[:me]
            %td= well_comparison.user.username unless params[:me]
          %td
            -#= link_to 'Show', well_comparison, class: 'btn btn-mini'
            -if well_comparison.user_id == current_user.id || current_user.admin?
              = link_to 'Edit', edit_well_comparison_path(well_comparison), class: 'btn btn-mini btn-success'
              = link_to 'Delete', well_comparison, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger'
            -else
              %button.btn.btn-mini.bn-success.disabled Edit
              %button.btn.btn-mini.btn-danger.disabled Delete

-else
  %p
    There are currently no well comparison on record.


