-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%h1 Well Comparison
%dl.show.dropshadow.raised


  %dt Description
  %dd= @well_comparison.description

  %dt User
  %dd= @well_comparison.user.fullname
.clear
-if @well_comparison.workingwells.present?
  - @well_comparison.workingwells.each do |well|
    -if well.montage_url.present?
      .well_container
        =image_tag url_for(:controller => 'send_images', :action => 'show_file_by_send', :filepath => "#{APP_CONFIG['remote_file_root_directory']}#{well.montage_url}"), :class => "montage_image sq250"
        %p.ed
          %table
            %tbody
              = table_euclidean_distance(well).html_safe if well.analytical_results.where(name: "Euclidean Distance").exists?
              = comparison_metadata_records(well).html_safe if well.metadata_records.present?
              = comparison_control(well).html_safe if well.is_control?
              %tr
                %td
                %td= link_to 'view with controls', compare_with_control_well_comparison_path(well), class: "btn btn-mini", target: "_blank"

.clear
.form-actions
  = link_to 'Back', well_comparisons_path, class: 'btn btn-mini'
  -if current_user && @well_comparison.user_id == current_user.id || current_user.admin?
    = link_to 'Edit', edit_well_comparison_path(@well_comparison), :class => 'btn btn-mini'
    = link_to 'Delete', well_comparison_path(@well_comparison), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger'