/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
.border {border: 1px solid red;}
.import-right {float: right; margin-right:190px;}
.shadow {}

.no_border {border: none;}
div.masterplate, div.workingplate {padding: 10px; width: 624px;min-height:416px;position:relative;-webkit-border-radius: 5px;
  -moz-border-radius: 5px;border-radius: 5px;}

div.masterplate, div#background.inner .workingplate {
  border:1px solid #888
}

div.masterwell {width: 46px; height:46px; position:relative; float:left; border:1px solid #CCCCCC;padding: 2px;
  background: #b8c6df;
}

div.workingwell {width: 46px; height:46px; position:relative; float:left; border:1px solid #CCCCCC;padding: 2px;
  background: #b4e391; /* Old browsers */
  background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
  background: linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */

}
div.workingwellpbs {width: 46px; height:46px; position:relative; float:left; border:1px solid #CCCCCC;padding: 2px;
  background: #258dc8; /* Old browsers */
  background: -moz-linear-gradient(top,  #258dc8 0%, #258dc8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#258dc8), color-stop(100%,#258dc8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #258dc8 0%,#258dc8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #258dc8 0%,#258dc8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #258dc8 0%,#258dc8 100%); /* IE10+ */
  background: linear-gradient(top,  #258dc8 0%,#258dc8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 ); /* IE6-9 */
}
div.workingwellempty {width: 46px; height:46px; position:relative; float:left; border:1px solid #CCCCCC;padding: 2px;
  background: #e2e2e2; /* Old browsers */
  background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
  background: linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
div.workingwellcontrol {width: 46px; height:46px; position:relative; float:left; border:1px solid #CCCCCC;padding: 2px;
  background: #e570e7; /* Old browsers */
  background: -moz-linear-gradient(top,  #e570e7 0%, #c85ec7 47%, #a849a3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e570e7), color-stop(47%,#c85ec7), color-stop(100%,#a849a3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* IE10+ */
  background: linear-gradient(top,  #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 ); /* IE6-9 */

}

div.workingwellcontrol a, div.workingwellpbs a, div.workingwell a {color: #222222;}
div.workingwellcontrol a:hover, div.workingwellpbs a:hover, div.workingwell a:hover {color: #eee;padding: 1px;}

div.masterwellfull {width: 46px; height:46px; position:relative; float:left; border:1px solid #CCCCCC;background: red;padding: 2px;
  background: #ff3019; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
  background: linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */


}
div.masterwellfull:hover {background: #cf0404; /* Old browsers */
  background: -moz-linear-gradient(top,  #cf0404 0%, #ff3019 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cf0404), color-stop(100%,#ff3019)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cf0404 0%,#ff3019 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cf0404 0%,#ff3019 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cf0404 0%,#ff3019 100%); /* IE10+ */
  background: linear-gradient(top,  #cf0404 0%,#ff3019 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf0404', endColorstr='#ff3019',GradientType=0 ); /* IE6-9 */
  border: 1px solid #111;}
div.masterwellfull a {color: #222;}
div.small {font-size: 0.8em;}
div.smaller {font-size: 0.6em;}
div#status_messages p {
  font-size: 1.5em;
  color: #444;
  padding: 10px 8px 8px 8px;;
}

div.masterwellfull a:hover {color: #eee; padding: 1px;}


div.outer { position: relative; clear: both;}
div.outer div.inner { position: absolute; top: 0px; left: 0;
  width: 624px;
  min-height:416px;
}

div.outer div.inner.ar {

  margin: 13px 0 0 11px;
}

div.outer div.inner div.well_ar {
  width: 46px; height:46px; position:relative; float:left; border:1px solid #CCCCCC;padding: 2px;
  background-color: rgba(10,120,30, 0.7); margin: 0;
}

.shadow a {
  color: #aaa;
  #text-shadow: 1px 1px 1px #ccc;
}
.ar_square { width: 23px; height: 23px; padding: 2px; float: left; color: #ccc;margin: 0 5px 0 0;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 2px 5px #616161;
  -moz-box-shadow: 0px 2px 5px #616161;
  box-shadow: 0px 2px 5px #616161;
}

p.ar_value {margin: 4px;}
.navigation {margin: 10px 0 0 0;float:right;width: 180px;}
.navigation   h3 {margin-bottom: 10px;}

.navigation form input[type=checkbox] { color: red; padding: 10px;}

.form-actions.wp {
  clear: both;
  margin-top: 470px;

}

.montage_image {
  margin-bottom: 25px;
  -webkit-box-shadow: 5px 5px 10px #616161;	-moz-box-shadow: 5px 5px 10px #616161; box-shadow: 5px 5px 10px #616161;
}
.well_container {float: left; width:280px;}
.well_container img {margin: 0 auto;}
.well_container td {font-size: 0.5em;}
.well_container td.col_one {font-weight: bold;}

.well_container table {width: 280px; margin-bottom: 20px;}

#comparison_grid img.workingwell { -webkit-box-shadow: 5px 5px 10px #480824; -moz-box-shadow: 5px 5px 10px #480824; box-shadow: 5px 5px 10px #480824; }


img.sq250 {height: 250px; width: 250px;}
img.sq200 {height: 200px; width: 200px;}
img.sq175 {height: 175px; width: 175px;}

.popover_image {width: 150px; height: 150px;}

h4.search {display: block; color: #333; border-bottom: 1px solid #E5E5E5; margin-bottom: 15px;}





div#status_messages p#notice {font-size: 1.2em; color: #fff;background: #8fc400; /* Old browsers */
  background: -moz-linear-gradient(top,  #8fc400 0%, #8fc400 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc400), color-stop(100%,#8fc400)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* IE10+ */
  background: linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 ); /* IE6-9 */
}
div#status_messages p#alert {font-size: 1.2em; color: #fff;background: #ff3019; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
  background: linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}


span.bigger {font-size: 1.1em; font-weight: bold;}
span.center {text-align: center;margin: 0 0 0 17px;}


div#user_nav, div#htd {position:relative; float: right; width: 95%; margin-bottom: 20px;padding: 10px; border: 1px solid #ccc; -webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px;}
div#resque   {position:relative; float: right; width: 95%; margin-bottom: 50px;padding: 10px; border: 1px solid #ccc; -webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px;}

div#results_block {
  width: 29.2em;
}

p.label_checkbox_pair {
  clear: both;
  float: none;
}
p.label_checkbox_pair input {
  clear: left;
  float: left;
  margin-left: 0px;

}
p.label_checkbox_pair label {
  clear: left;
  display: block;
  float: left;
  margin:-1.2em 0 0 1.5em;
  width: 200px;

}

div.fields.btn.btn-small {
  #margin-left: 23em;
  float: right;
}

div.no_record {margin: 20px 0 0 0;}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -250px; /* half width of the spinner gif */
  margin-top: -125px; /* half height of the spinner gif */
  text-align:center;
  border: 2px solid #444;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.63) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.63))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.63) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.63) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.63) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.63) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#6e000000',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 0px 15px 15px #616161;	/* webkit browser*/ -moz-box-shadow: 0px 15px 15px #616161;	/* firefox */ box-shadow: 0px 15px 15px #616161;
  padding: 50px;
  z-index:1234;
  overflow: auto;
  width: 400px; /* width of the spinner gif */
  height: 202px; /*hight of the spinner gif +2px to fix IE8 issue */
}

div#spinner-text p{
  font-size: 1.6em;
  font-weight: bold;
  color: #ccc;
  margin: 50px 0 0 0;

}

div#spinner-text p.small {
  font-size: 1.2em;
  font-weight: normal;
}

div#error_explanation {
  border: 1px solid #444;
  padding: 10px;
  margin: 0 0 30px 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: -moz-linear-gradient(top, rgba(255,48,25,0.37) 0%, rgba(207,4,4,0.37) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,0.37)), color-stop(100%,rgba(207,4,4,0.37))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,48,25,0.37) 0%,rgba(207,4,4,0.37) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,48,25,0.37) 0%,rgba(207,4,4,0.37) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,48,25,0.37) 0%,rgba(207,4,4,0.37) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(255,48,25,0.37) 0%,rgba(207,4,4,0.37) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5eff3019', endColorstr='#5ecf0404',GradientType=0 ); /* IE6-9 */
}

div#error_explanation h2 {font-size: 1.6em; background: none;color: #222222;}
div#error_explanation ul {margin-left: 30px;}
div#error_explanation ul li {font-size: 1.2em;}


dl.form {

  width: 400px;
  float: left;
  margin: 0 0 0 10px;
  padding: 5px ;
}

dl.form dt{

  clear: left;
  float: left;
  width: 100px;
  margin: 0;
  padding: 5px;
  font-weight: bold;
}
dl.form dd {

  float: left;
  width: 250px;
  margin: 0;
  padding: 5px;
  text-align: left;
}

dl {
  float: left;
  width: 635px;
  margin: 0 0 0 10px;
  padding: 5px ;

}

dl.search {width: 370px;}

dl.search dt {width: 120px;padding: 0; margin: 10px 0;}

dl.search dd {width: 230px;}


dl.show {
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

dl dt{
  clear: left;
  float: left;
  width: 150px;
  margin: 0;
  padding: 5px;
  font-weight: bold;
}
dl dd {
  float: left;
  width: 420px;
  margin: 0;
  padding: 5px;
  text-align: justify;
}

h4.side {margin-top: 15px;}

dl.side {
  float: left;
  width: 100%;
  margin: 5px 0 0 0;
  padding: 0;
}

dl.side dt {
  clear: left;
  float: left;
  width: 135px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

dl.side dd {
  float: left;
  margin: 0;
  padding: 0;
  width: 30px;
}

.drop-shadow {
  position:relative;
  float:left;
  min-width:30%;
  padding:1em;
  margin:1em 10px 1em;
  background:#fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
  content:"";
  position:absolute;
  z-index:-2;
}

.drop-shadow p {
  font-size:16px;
  font-weight:bold;
}

/* Lifted corners */

.lifted {
  -moz-border-radius:4px;
  border-radius:4px;
}

.lifted:before,
.lifted:after {
  bottom:15px;
  left:10px;
  width:50%;
  height:20%;
  max-width:300px;
  -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  -ms-transform:rotate(-3deg);
  -o-transform:rotate(-3deg);
  transform:rotate(-3deg);
}

.lifted:after {
  right:10px;
  left:auto;
  -webkit-transform:rotate(3deg);
  -moz-transform:rotate(3deg);
  -ms-transform:rotate(3deg);
  -o-transform:rotate(3deg);
  transform:rotate(3deg);
}

/* Curled corners */

.curled {
  border:1px solid #efefef;
  -moz-border-radius:0 0 120px 120px / 0 0 6px 6px;
  border-radius:0 0 120px 120px / 0 0 6px 6px;
}

.curled:before,
.curled:after {
  bottom:12px;
  left:10px;
  width:50%;
  height:55%;
  max-width:200px;
  -webkit-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
  box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
  -webkit-transform:skew(-8deg) rotate(-3deg);
  -moz-transform:skew(-8deg) rotate(-3deg);
  -ms-transform:skew(-8deg) rotate(-3deg);
  -o-transform:skew(-8deg) rotate(-3deg);
  transform:skew(-8deg) rotate(-3deg);
}

.curled:after {
  right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
  -moz-transform:skew(8deg) rotate(3deg);
  -ms-transform:skew(8deg) rotate(3deg);
  -o-transform:skew(8deg) rotate(3deg);
  transform:skew(8deg) rotate(3deg);
}

/* Perspective */

.perspective:before {
  left:80px;
  bottom:5px;
  width:50%;
  height:35%;
  max-width:200px;
  -webkit-box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
  box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
  -webkit-transform:skew(50deg);
  -moz-transform:skew(50deg);
  -ms-transform:skew(50deg);
  -o-transform:skew(50deg);
  transform:skew(50deg);
  -webkit-transform-origin:0 100%;
  -moz-transform-origin:0 100%;
  -ms-transform-origin:0 100%;
  -o-transform-origin:0 100%;
  transform-origin:0 100%;
}

.perspective:after {
  display:none;
}

/* Raised shadow - no pseudo-elements needed */

.raised {
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* Curved shadows */

.curved:before {
  top:10px;
  bottom:10px;
  left:0;
  right:50%;
  -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
  -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
  box-shadow:0 0 15px rgba(0,0,0,0.6);
  -moz-border-radius:10px / 100px;
  border-radius:10px / 100px;
}

.curved-vt-2:before {
  right:0;
}

.curved-hz-1:before {
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  -moz-border-radius:100px / 10px;
  border-radius:100px / 10px;
}

.curved-hz-2:before {
  top:0;
  bottom:0;
  left:10px;
  right:10px;
  -moz-border-radius:100px / 10px;
  border-radius:100px / 10px;
}

/* Rotated box */

.rotated {
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  -ms-transform:rotate(-3deg);
  -o-transform:rotate(-3deg);
  transform:rotate(-3deg);
}

.rotated > :first-child:before {
  content:"";
  position:absolute;
  z-index:-1;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:#fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* styling for autocomplete feature in search form */
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #999;
}
ul.ui-autocomplete li {
  background-color: #fff;
  border-top: 1px solid #ddd;
  margin: 0;
  padding: 0;
}
ul.ui-autocomplete li a {
  color: #000;
  display: block;
  padding: 3px;
}
ul.ui-autocomplete li a.ui-state-hover, ul.ui-autocomplete li a.ui-state-active {
  background-color: rgba(0, 70, 255, 0.4)
}

table.table.table-striped small {color: #b4b4b4
}

//table.table-striped a { color: #0088cc;}
//table.table-striped a:hover { background: none; color: #111;}