body {
  background-color: #fff;
  color: #333;
}
body,
p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
a {
  color: #000;
}
a:visited {
  color: #666;
}
a:hover {
  color: #fff;
  background-color: #000;
}
div.field,
div.actions {
  margin-bottom: 10px;
}
#notice {
  color: green;
}
.field_with_errors input {
  border-color: rgba(255, 78, 94, 0.80);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 78, 94, 0.07), 0 0 8px rgba(255, 78, 94, 0.60);
  -moz-box-shadow: inset 0 1px 1px rgba(255, 78, 94, 0.07), 0 0 8px rgba(255, 78, 94, 0.60);
  box-shadow: inset 0 1px 1px rgba(255, 78, 94, 0.07), 0 0 8px rgba(255, 78, 94, 0.60);

}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
p.notice {
  font-size: 0.8em;
  margin: 10px 0 0 0;
  color: #666;
}

.text_left { text-align: left; }