-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


= form_for @screen_setting do |f|
  -if @screen_setting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@screen_setting.errors.count, "error")} prohibited this screen_setting from being saved:"
      %ul
        - @screen_setting.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :screen_id
    = f.collection_select(:screen_id, Screen.where(:user_id => current_user.id), :id, :name, :class => 'select')
  .field
    = f.label :substances
    = f.text_area :substances, :class => "text_area"
  .field
    = f.label :csv_first_data_row
    = f.number_field :csv_first_data_row, :value => 4
  .actions
    = f.submit 'Save'
