-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%h1 Editing Screen Setting

= render 'form'

= link_to 'Show', @screen_setting
\|
= link_to 'Back', screen_settings_path
