-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%h1 Listing screen_settings

%table
  %tr
    %th Screen
    %th Substances
    %th Csv first data row
    %th
    %th
    %th

  - @screen_settings.each do |screen_setting|
    %tr
      %td= screen_setting.screen_id
      %td= screen_setting.substances
      %td= screen_setting.csv_first_data_row
      %td= link_to 'Show', screen_setting
      %td= link_to 'Edit', edit_screen_setting_path(screen_setting)
      %td= link_to 'Destroy', screen_setting, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Screen setting', new_screen_setting_path
