-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


%p#notice= notice

%p
  %b Screen:
  = @screen_setting.screen.name
%p
  %b Substances:
  = @screen_setting.substances
%p
  %b Csv first data row:
  = @screen_setting.csv_first_data_row

= link_to 'Edit', edit_screen_setting_path(@screen_setting)
\|
= link_to 'Back', screen_settings_path
