-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


!!!
%html
  %head
    %title Screeningandor
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render 'shared/navigation'

    .container
      .row
        .span9
          #status_messages
            - if notice.present?
              %div.alert.alert-success
                %a.close{"data-dismiss" => "alert", :href => "#"} ×
                %p
                  = notice
            - elsif alert.present?
              %div.alert.alert-error
                %a.close{"data-dismiss" => "alert", :href => "#"} ×
                %p
                  = alert

          = yield

        .span3
          -##user_nav.raised
          -#
          -#  - if current_user.present?
          -#    %h4.side
          -#      Processing Queue
          -#    %dl.side
          -#      %dt
          -#        Number of workers:
          -#      %dd
          -#        = Resque.workers.length
          -#      %dt
          -#        Jobs working
          -#      %dd
          -#        = Resque.working.length
          -#      %dt
          -#        Jobs pending:
          -#      %dd
          -#        = Resque.size('ome_rewrite') || 0
          -#      %dt
          -#        Jobs failed
          -#      %dd
          -#        - fail_count = Resque::Failure.count || 0
          -#        -if fail_count > 0
          -#          %span.red
          -#            = fail_count
          -#        -else
          -#          = fail_count
          -#
          -#
          -#    .clear

          #body
            %h3
              = yield :sidebar_title

            %div.sidebarbody
              = yield :sidebar
