-#
  Copyright (C) 2012 Juergen Helmers - All Rights Reserved
  You may not use, distribute and modify this code under any
  circumstance without the written permission of the author.

  Juergen Helmers <juergen.helmers@gmail.com>


!!!
%html
  %head
    %title Screeningandor
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render 'shared/navigation'
    .container
      .row
        .span12
          #status_messages
            - if notice.present?
              %div.alert.alert-success
                %a.close{"data-dismiss" => "alert", :href => "#"} ×
                %p
                  = notice
            - elsif alert.present?
              %div.alert.alert-error
                %a.close{"data-dismiss" => "alert", :href => "#"} ×
                %p
                  = alert

          = yield

